In [1]:
# Import library
import pandas as pd
import sqlite3

In [2]:
# Données du Guide de l'auto
df = pd.read_hdf('C:\\Users\\Charles_tour\\Documents\\GitHub\\car_sales_forecast\\Dataframe\\scrap_data.h5')
df.head(3)

,marque,modele,annee,spec,pdsf,moteur,type_carbu,type_vehicule,classement,eff_ville,eff_autoroute,eff_combi,eff_autonomie,eff_ges,masse,lien
0,acura,integra,2024,a-spec,38850$,"4L 1,5l",Super,Hatchback,Sous-compacte de luxe,"8,1L/100km","6,5L/100km","7,4L/100km",621km,172g/km,1415kg (3120lb),https://www.guideautoweb.com/constructeurs/acu...
1,acura,integra,2024,elite-a-spec-auto,44350$,"4L 1,5l",Super,Hatchback,Sous-compacte de luxe,"8,1L/100km","6,5L/100km","7,4L/100km",621km,172g/km,1434kg (3161lb),https://www.guideautoweb.com/constructeurs/acu...
2,acura,integra,2024,elite-a-spec-man,44350$,"4L 1,5l",Super,Hatchback,Sous-compacte de luxe,"8,9L/100km","6,5L/100km","7,8L/100km",589km,181g/km,1399kg (3084lb),https://www.guideautoweb.com/constructeurs/acu...

In [20]:
df_clean = df.copy()


# for index, row in df_clean.head().iterrows():
#     print(row)

df_clean = df_clean.iloc[0:300] 
df_clean = df_clean[['marque', 'modele', 'annee', 'eff_combi', 'eff_ges']] 

df_clean['eff'] = df_clean['eff_combi'].str.replace(',', '.',regex=True).str.replace('L/100km', '',regex=True).str.replace('Lₑ/100km', '', regex=True).str.replace('n.d.','0',regex=True).fillna(0).astype(float)
df_clean['ges'] = df_clean['eff_ges'].str.replace('g/km', '',regex=True).str.replace('n.d.','0',regex=True).fillna(0).astype(int)
df_clean = df_clean.drop(columns={'eff_combi', 'eff_ges'})

df_clean = df_clean.groupby(['marque', 'modele', 'annee']).mean().reset_index()
# pour tester, certain eff (probablement les PHEV on des valeurs entre parenthèse, à ajuster)

# Refaire rouler sur cette ordi là
# Créer une nouvelle colonne qui distingue le type de drivetrain (ESS, VEB, HYB, VHB)
# Faire un groupby sur 'marque', 'modele', 'annee' pour l'efficacité et les émissions 

df_clean.head()

  marque modele annee   eff         ges
0  acura    csx  2008  8.10    0.000000
1  acura    csx  2009  8.10    0.000000
2  acura    csx  2010  8.20  187.666667
3  acura    csx  2011  7.95  181.500000
4  acura    ilx  2013  7.18  165.400000

In [26]:
# Store dans une db
connection = sqlite3.connect('scrap_data.db')
cursor = connection.cursor()

df_clean.to_sql('vehicles', connection, if_exists='replace', index=False)

connection.commit()
connection.close()

In [27]:
# Accèder au db
connection = sqlite3.connect('scrap_data.db')
cursor = connection.cursor()

cursor.execute('SELECT * FROM vehicles')

# Columns name
column_names = [description[0] for description in cursor.description]
print("Column Names:", column_names)

# Values
rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

Column Names: ['marque', 'modele', 'annee', 'eff', 'ges']
('acura', 'csx', '2008', 8.1, 0.0)
('acura', 'csx', '2009', 8.1, 0.0)
('acura', 'csx', '2010', 8.2, 187.66666666666666)
('acura', 'csx', '2011', 7.949999999999999, 181.5)
('acura', 'ilx', '2013', 7.18, 165.4)
('acura', 'ilx', '2014', 7.160000000000001, 27.2)
('acura', 'ilx', '2015', 7.2, 28.0)
('acura', 'ilx', '2016', 8.1, 189.0)
('acura', 'ilx', '2017', 8.2, 192.0)
('acura', 'ilx', '2018', 8.2, 192.0)
('acura', 'ilx', '2019', 8.6, 199.0)
('acura', 'ilx', '2020', 8.6, 199.0)
('acura', 'ilx', '2021', 8.6, 199.0)
('acura', 'ilx', '2022', 8.6, 200.0)
('acura', 'integra', '2023', 5.96, 138.4)
('acura', 'integra', '2024', 8.125, 188.75)
('acura', 'mdx', '2008', 12.1, 0.0)
('acura', 'mdx', '2009', 12.1, 0.0)
('acura', 'mdx', '2010', 11.6, 267.0)
('acura', 'mdx', '2011', 11.6, 267.0)
('acura', 'mdx', '2012', 11.6, 267.0)
('acura', 'mdx', '2013', 11.6, 267.0)
('acura', 'mdx', '2014', 0.0, 0.0)
('acura', 'mdx', '2015', 11.1, 255.0)
('acura', 'mdx', '2016', 11.025, 253.25)
('acura', 'mdx', '2017', 10.616666666666667, 248.16666666666666)
('acura', 'mdx', '2018', 10.933333333333332, 256.3333333333333)
('acura', 'mdx', '2019', 10.55, 246.0)
('acura', 'mdx', '2020', 10.6, 247.33333333333334)
('acura', 'mdx', '2022', 11.6, 272.3333333333333)
('acura', 'mdx', '2023', 11.6, 272.3333333333333)
('acura', 'mdx', '2024', 11.5, 270.0)
('acura', 'nsx', '2017', 11.0, 261.0)
('acura', 'nsx', '2018', 11.0, 261.0)
('acura', 'nsx', '2019', 11.0, 261.0)
('acura', 'nsx', '2020', 11.0, 261.0)
('acura', 'nsx', '2021', 11.0, 256.0)
('acura', 'nsx', '2022', 11.0, 256.0)
('acura', 'rdx', '2008', 11.1, 0.0)
('acura', 'rdx', '2009', 11.1, 0.0)
('acura', 'rdx', '2010', 11.1, 237.0)
('acura', 'rdx', '2011', 10.3, 237.0)
('acura', 'rdx', '2012', 10.3, 237.0)
('acura', 'rdx', '2013', 8.2, 0.0)
('acura', 'rdx', '2014', 9.2, 0.0)
('acura', 'rdx', '2015', 10.6, 244.0)
('acura', 'rdx', '2016', 10.699999999999998, 249.0)
('acura', 'rdx', '2017', 10.699999999999998, 250.0)
('acura', 'rdx', '2018', 10.699999999999998, 250.0)
('acura', 'rdx', '2019', 10.033333333333333, 235.33333333333334)
('acura', 'rdx', '2020', 9.98, 233.8)
('acura', 'rdx', '2021', 9.98, 234.0)
('acura', 'rdx', '2022', 10.100000000000001, 237.0)
('acura', 'rdx', '2023', 10.3, 242.0)
('acura', 'rdx', '2024', 10.166666666666666, 238.0)
('acura', 'rl', '2008', 10.9, 0.0)
('acura', 'rl', '2009', 11.3, 0.0)
('acura', 'rl', '2010', 11.3, 258.0)
('acura', 'rl', '2011', 10.4, 239.0)
('acura', 'rl', '2012', 10.4, 239.0)
('acura', 'rlx', '2014', 7.425000000000001, 0.0)
('acura', 'rlx', '2015', 9.425, 44.25)
('acura', 'rlx', '2016', 7.7, 180.0)
('acura', 'rlx', '2017', 8.1, 190.0)
('acura', 'rlx', '2018', 8.4, 196.0)
('acura', 'rlx', '2019', 8.3, 196.0)
('acura', 'rlx', '2020', 8.350000000000001, 98.0)
('acura', 'tl', '2014', 9.4125, 0.0)
('acura', 'tlx', '2015', 9.071428571428571, 209.85714285714286)
('acura', 'tlx', '2016', 8.98, 214.0)
('acura', 'tlx', '2017', 8.98, 214.4)
('acura', 'tlx', '2018', 9.428571428571429, 221.07142857142858)
('acura', 'tlx', '2019', 9.590909090909092, 224.72727272727272)
('acura', 'tlx', '2020', 9.757142857142858, 227.71428571428572)
('acura', 'tlx', '2021', 10.080000000000002, 230.4)
('acura', 'tlx', '2022', 10.080000000000002, 236.4)
('acura', 'tlx', '2023', 10.200000000000001, 239.0)
('acura', 'tlx', '2024', 10.5, 246.0)
('acura', 'zdx', '2010', 10.9, 251.0)
('acura', 'zdx', '2011', 10.9, 251.0)
('acura', 'zdx', '2012', 10.9, 251.0)
('acura', 'zdx', '2013', 10.9, 251.0)
('acura', 'zdx', '2024', 0.0, 0.0)